<%- include('header');  %>
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/admin/dashboard">Home</a></li>
        </ol>
    </div>
</div>

<script>
    while(pourcent.length>0){
        alert("loop");
    }
    </script>

        <!--**********************************
            Content body start
        ***********************************-->
     
   <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
       
        <div class="content-body">
            
            <% if(message){ %>
              
                <div >
            <% if(message.type === 'success'){ %>
            <div class="alert alert-success">
                <strong><%= message.intro %> </strong><span><%= message.message %></span>
              </div>
              <% } else if(message.type === 'deleted'){ %>
                <div class="alert alert-danger">
                   <strong><%= message.intro %> </strong><span><%= message.message %></span>
                  </div>
              <% } %>
                </div>
                <% } %>
            

            <div class="container-fluid mt-3">
                <div class="row">


                   
                    <div class="col-md-3 col-sm-6">
                        <% if(user_id===2 || profile_id===5){ %>
                        <div class="card gradient-1">
                            <div class="card-body">
                               
                                <h3 class="card-title text-white">Demandes Effectuées</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= nbreDem %></h2>
                                    <p class="text-white mb-0">Année 2020</p>
                                    
                                </div>
                                <!--span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span-->
                            </div>
                        </div>
                    <% } %>
                    </div>
                    
                        

                    <div class="col-md-3 col-sm-6">
                        <% if(user_id===2 || profile_id===5){ %>
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Nombre Utilisateurs</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= nbreUser %></h2>
                                    <p class="text-white mb-0"><%= datetoday %></p>
                                </div>
                                <!--span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span-->
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <% if(user_id===2 || profile_id===5){ %>
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Nombre Utilisateurs Récents</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= recentuser %></h2>
                                    <p class="text-white mb-0"><%= datetoday %></p>
                                </div>
                                <!--span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span-->
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <% if(user_id===2 || profile_id===5){ %>
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Demandes Mois Passé</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= nbreDLM %></h2>
                                    <p class="text-white mb-0"><%= lastMonth %></p>
                                </div>
                                <!--span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span-->
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<% if(user_id!==2 && profile_id!==7 && profile_id!==5){ %>
<div class="container">
    <div class="row">
                
            <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-muted">Demandes</h4>
                            <div id="activity">
                                <hr>

                                <% var i=0; data.forEach(function (notif) { %>
                                    
                                    
                                <form action="/admin/acceptenotif" method="POST">
                                <div class="media border-bottom-1 pt-3 pb-3" >
                                    
                                    <div class="media-body">
                                        
                                        <p class="mb-0"><span><b>Demande de: </b></span><%= nom_doc2[i] %></p>
                                        <input type="hidden" value="<%= nom_doc2[i] %>"  name="nom_doc">
                                        <input type="hidden" value="<%= notif.id_notif %>" name="notifID">
                                        <input type="hidden" value="1" name="typePage">
                
                                   </div>
                                   
                                   <span class="text-muted "><%=  moment(notif.created_at).format('DD-MM-YYYY') %> <button type="submit"  class="btn btn-primary" >Accepter</button></span>
                                   
                                </div>
                            </form>

                            <% i++; }) %>

                            <% var i=0; data2.forEach(function (notif){%>
                            <form action="/user/acceptedDemande" method="POST">
                                <div class="media border-bottom-1 pt-3 pb-3" >
                                    
                                    <div class="media-body">
                                        <h5>Nouvelle demande</h5>
                                        <p class="mb-0"><%= nom_doc[i] %></p>
                                        <input type="hidden" value="<%= nom_doc[i] %>" name="nom_doc">
                                        <input type="hidden" value="<%= notif.id_notif %>" name="notifID">
                
                                   </div>
                                   
                                    <span class="text-muted "><%=  moment(notif.created_at).format('DD-MM-YYYY') %><br><button type="submit"  class="btn btn-success" >Traiter</button></span>
                                    
                                </div>
                            </form>
                            <% i++; }) %>
                            
                            <% if(data.length>0 || data2.length>0){ %>
                                <br>
                                <div class="pull-right"><a href="/user/notification" class="btn btn-info">Afficher Tout</a></div>

                                <% } %>

                            <% if(data.length===0 && data2.length===0){ %>
                                <br>
                                <div><h5>pas de nouvelles demandes</h5> </div>

                                <% } %>
                              
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    <% } %>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <% if(profile_id !==7 ){ %>            
<div class="container">
    <div class="row">
               
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-muted">Nouveaux Messages</h5>
                            <div id="activity">
                                <hr>
    
                                <% if(msgss.length>0 ){ %>
    
                                <% msgss.forEach(function (msg) { %>
                                    
                               
                                    <a href="/readEmail/<%= msg.id %>">
                                <div class="media border-bottom-1 pt-3 pb-3">
                                    <!--img width="35" src="./images/avatar/1.jpg" class="mr-3 rounded-circle"-->
                                    <div class="media-body">
                                        <h5><%= msg.email %></h5>
                                        <p class="mb-0"> <b>Subject:</b> <%= unescape(msg.subject) %></p>
                                        
                                    </div><span class="text-muted "><%=  moment(msg.created_at).format('DD-MM-YYYY') %> <br>  <%= moment(msg.created_at).format('HH:MM') %> </span>
                                </div>
                            </a>
                            
                           
                            <% }) %>
                            <% } if(data4.length>0){ %>

                            <% data4.forEach(function (msg) { %>
                                    
                               
                                <a href="/readEmail/<%= msg.id_msg %>">
                            <div class="media border-bottom-1 pt-3 pb-3">
                                <!--img width="35" src="./images/avatar/1.jpg" class="mr-3 rounded-circle"-->
                                <div class="media-body">
                                    <h5><!-- add the username --></h5>
                                    <p class="mb-0"> <b>Subject:</b> <%= unescape(msg.subject) %></p>
                                    
                                </div><span class="text-muted ">  <%=  moment(msg.sended_date).format('DD-MM-YYYY') %> <br>  <%= moment(msg.sended_date).format('HH:MM') %></span>
                            </div>
                        </a>
                        
                       
                        <% }) %>

                            
                            <% } %>

                            <% if(msgss.length>0 || data4.length>0){ %>
                                <br>
                                <div class="pull-right"><a href="/messagesnonlus" class="btn btn-info">Afficher Tout</a> </div>
    
                                <% } %>
    
                            <% if(msgss.length===0 && data4.length===0){ %>
                                <div><h5>pas de nouveaux messages</h5> </div>
    
                                <% } %>
                              
                            </div>
                        </div>
                    </div>
                </div>
      

    </div></div>
                   
<% } %>
           
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<% if(profile_id===7){ %>
<div class="container">
    <div class="row">
               
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-muted">Mes Documents Reçus</h5>
                            <div id="activity">
                                
                                <table class="table table-xs">
                                    <thead>
                                        <tr>
                                            <th>Document name</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% data5.forEach(function (doc) { %>
                                         <tr class="col-md-2">
                                             <% if(doc.mime === "application/vnd.openxmlformats-officedocument.word"){ %>
                                             <td><object data="/static/admin/documents/<%= doc.nom_doc %>" type="application/docx" >
                                              <p><span><img src="/static/admin/icons/microsoft-word-2019--v2.png" height="20px" width="20px"></span><a href="/static/admin/documents/<%= doc.nom_doc %>"> <%= doc.nom_doc %> </a></p>
                                            </object></td>
                                            <% } if(doc.mime ==="application/pdf"){ %>
                                              <td><object data="/static/admin/documents/<%= doc.nom_doc %>" type="application/docx" >
                                                  <p><span><img src="/static/admin/icons/15519179861536080156-512.png" height="20px" width="20px"></span><a href="/static/admin/documents/<%= doc.nom_doc %>"> <%= doc.nom_doc %> </a></p>
                                                </object></td>
                                                <% } if(doc.mime==="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"){ %>
                                                  <td><object data="/static/admin/documents/<%= doc.nom_doc %>" type="application/vnd.ms-excel" >
                                                      <p><span><img src="/static/admin/icons/microsoft-excel-2019--v1.png" height="20px" width="20px"></span><a href="/static/admin/documents/<%= doc.nom_doc %>"> <%= doc.nom_doc %> </a></p>
                                                    </object></td>
                                                    <% } %>
                                                    
                                             <td><span> <%= doc.description %>  </span></td>
                                             <td><span><%=  moment(doc.created_date).format('DD-MM-YYYY') %> <br> <%=  moment(doc.created_date).format('HH:MM') %></span></td>
    
                                         </tr>
                                         <% }) %>
                                        
                                     </tbody>
                                    
                                 </table>
                                 <a href="/user/doclist" class="btn btn-info"><i class="fa fa-home" >Afficher tous</i></a>
                           
                              
                            </div>
                        </div>
                    </div>
                </div>
      

    </div></div>
                   <% } %>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->                
<% if(profile_id===7){ %>

<div class="container">
    <div class="row"> 

        <div class="col-md-2"></div>

     <div class="col-md-6">
         <div class="card card-widget">
             <div class="card-body">
                 <h5 class="text-muted">L'Etat de Vos Demandes </h5>
                 <h2 class="mt-4"></h2>
                 <span></span>
                 <hr>

                 <% for (var i in pourcent){ %>
                  
                  <form onload="myFunction()">
                     <div class="mt-4">
                         <h4 class="item-title" >Etape Courante De La demande: <%= numEtape[i] %></h4>
                         <h6>Demande n<%= parseInt(i,10)+1 %> <span class="pull-right" style="color: mediumslateblue; font-size: 20px;"><%- pourcent[i] %>%</span></h6>
                         
                     </div>
                     <% } %>
                     <% if(pourcent.length>0){%>
                        <div class="pull-center"><a href="/etatsDemande" class="btn btn-info">Afficher Tout</a> </div>
                        <% } %>
                 
             </div>
             
         </div>
         
         
     </div>
     <div class="col-md-2"></div>
    </div>
         
</div>
<% } %>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

     <div class="container">
        <div class="row"> 

     <div class="col-md-12">
         <div class="card card-widget">
             <div class="card-body">
                 <h5 class="text-muted">Entrer Un Témoignage </h5>
                
                 <h2 class="mt-4"></h2>
                 <span></span>

                 <form action="/sendtemoignage" method="POST"> 
                     <div class="form-group">
                         <label for="exampleFormControlTextarea1"></label>
                         <textarea class="form-control" id="exampleFormControlTextarea1" name="temoitext" rows="3"></textarea>
                       </div>
                       <div>
                        <button type="submit" name="submit" class="btn btn-primary">Valider</button>
                        <% if(user_id===2 || profile_id===5){ %>
                        <span class="pull-right"><a href="/admin/ListTem" class="btn btn-primary">Afficher Témoignages</a></span>
                        <% } %>
                       </div>
                       
                 </form>
                 
             </div>
         </div>
         
     </div>
 </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<% if(profile_id!==7){ %>
<div class="row">
    <% var i=0; data3.forEach(function (user){ %>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <a href="/displayResultU/<%= user.id_user %>">
            <div class="card-body">
                <div class="text-center">
                    <img src="/static/admin/user-images/<%= user.photo %>" width="120px" height="120px" class="rounded-circle" alt="">
                    <h5 class="mt-3 mb-1"><%= user.nom %> <%= user.prenom %></h5>
                    <p class="m-0"><%= user.nomprofil %></p>
                    <!-- <a href="javascript:void()" class="btn btn-sm btn-warning">Send Message</a> -->
                </div>
            </div>
        </a>
        </div>
    </div>
   <% i++; }) %>
  

</div>
<% } %>

<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
     

                
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
              
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <%- include('footer');  %>