<%- include("header"); %>



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center"  >

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Obtenez Vos Documents Numériques D'une Façon Plus Facile</h1>
          <!--h2>We are team of talanted designers making websites with Bootstrap</h2-->
          <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="/static/front/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="/static/front/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>DocOnline.</h3>
            <p class="font-italic">
              Notre plateforme DocOnline vous facilite la tâche chaque fois vous avez besoin de traiter vos documents. Avec quelques simple click vous obtenez tous vos demandes sans avoir besoin de se déplacer.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Site accesible 24H/24 pour passer vos demandes.</li>
              <li><i class="icofont-check-circled"></i> Passer facilement une demande sur notre plateforme.</li>
              <li><i class="icofont-check-circled"></i> Vous serez infomer dès votre document numérique est prêt.</li>
            </ul>
            <a href="#" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          

          <div class="col-md-4 text-center">
            <span data-toggle="counter-up"><%- clients %></span>
            <p>Clients</p>
          </div>

          <div class="col-md-4 text-center">
            <span data-toggle="counter-up"><%- docs %></span>
            <p>Documents Disponibles</p>
          </div>

          <div class="col-md-4 text-center">
            <span data-toggle="counter-up"><%- users %></span>
            <p>Employés</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

       

        <div class="row">
          <div class="col-md-3 d-flex align-items-stretch" >
            <img src="static/front/img/pictures/geddd.png" height="200px" width="300px" alt="">
          </div>

          <div class="col-md-3 d-flex align-items-stretch mt-4 mt-md-0" >
            <img src="static/front/img/pictures/Fotolia_92398712_XS.jpg" height="200px" width="200px" alt="">
            
          
          </div>

          <div class="col-md-3 d-flex align-items-center mt-4 mt-lg-0">
            <img src="static/front/img/pictures/digitalfiles.png" height="150px" width="280px" alt="">
          </div>

          <div class="col-md-3 d-flex align-items-center mt-4 mt-lg-0">
            <img src="static/front/img/pictures/k4_7603995.jpg" height="150px" width=" 300px" alt="">
          </div>

        
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Fonctionnalités</h2>
          <!--p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p-->
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-left">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-time-five"></i>
              <h4 class="pull-left">Gain De Temps</h4>
              <!--p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p-->
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-receipt"></i>
              <h4>Dépôt Facile des demandes</h4>
              <!--p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p-->
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-check-circle"></i>
              <h4>Disponibilité</h4>
              <!--p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p-->
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-shield-quarter"></i>
              <h4>Sécurité et Traçabilité</h4>
              <!--p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p-->
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
            <img src="static/front/img/features.svg" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Témoignages</h2>
          <p>Quelques Avis des Utilisateurs De La Platforme.</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= unescape(data[0].temoi_text) %>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/admin/user-images/<%= data[0].photo %>" class="testimonial-img" width="100px" height="100px" alt="">
            <h3><%= data[0].nom %> <%= data[0].prenom %></h3>
            <h4><%= data[0].nomProfil %></h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= unescape(data[1].temoi_text)%>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/admin/user-images/<%= data[1].photo %>" class="testimonial-img" width="100px" height="100px" alt="">
            <h3><%= data[1].nom %> <%= data[1].prenom %></h3>
            <h4><%= data[1].nomProfil %></h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= unescape(data[2].temoi_text)%>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/admin/user-images/<%= data[2].photo %>" class="testimonial-img" width="100px" height="100px" alt="">
            <h3><%= data[2].nom %> <%= data[2].prenom %></h3>
            <h4><%= data[2].nomProfil %></h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= unescape(data[3].temoi_text)%>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/admin/user-images/<%= data[3].photo %>" class="testimonial-img" width="100px" height="100px" alt="">
            <h3><%= data[3].nom %> <%= data[3].prenom %></h3>
            <h4><%= data[3].nomProfil %></h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= unescape(data[4].temoi_text)%>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/admin/user-images/<%= data[4].photo %>" class="testimonial-img" width="100px" height="100px" alt="">
            <h3><%= data[4].nom %> <%= data[4].prenom %></h3>
            <h4><%= data[4].nomProfil %></h4>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
   <!-- End Portfolio Section -->

    <!-- ======= Pricing Section ======= -->
    
    <!-- End Pricing Section -->

<!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->


    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include("footer"); %>
 <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/front/vendor/jquery/jquery.min.js"></script>
  <script src="/static/front/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/front/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/front/vendor/php-email-form/validate.js"></script>
  <script src="/static/front/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/front/vendor/counterup/counterup.min.js"></script>
  <script src="/static/front/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/front/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/front/vendor/venobox/venobox.min.js"></script>
  <script src="/static/front/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/front/js/main.js"></script>

</body>

</html>